.about-us {
  margin-bottom: var(--mb);
}

.containeofAll {
  position: relative;
}

.containeofAll h2 {
  position: sticky;
  top: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--primary-color), gold);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.conatiner {
  width: 100vw;
  height: 100vh;
  /* background-color: #f44336 !important; */
  /* background-color: #ccc !important; */
  background-color: #111 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 6rem;
  gap: 20px;
}

.about-us .conatiner .infoabout p {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.7;
}

.about-us .conatiner .image {
  width: 560px;
  height: 500px;
}

.last-page {
  position: relative;
  display: flex;
  flex-direction: column;
}

.last-page .belt {
  width: 100%;
  /* background: green; */
  position: absolute;
  bottom: 50px;
  padding: 1rem;
  z-index: 1000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-page .belt .Advantages {
  color: #fff;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
  height: 108px;
}

.last-page .belt .Advantages div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 7px;
  text-align: center;
}

.last-page .belt .Advantages div p {
  color: var(--red);
  font-weight: bold;
}

.last-page .belt .Advantages div p:first-child {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.last-page .belt .Advantages div p:last-child {
  font-size: 1.1rem;
  color: var(--gray-dark);
}

.last-page .belt .scroll-Logo {
  color: #fff;
  background-color: #fff;
  /* overflow: hidden; */
}

.last-page .belt .scroll-Logo ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 104px;
  /* overflow: hidden; */
}

.last-page .belt .scroll-Logo ul li img {
  width: 100px;
}

/*  ===== MEDIA~QUERY ====== */

@media screen and (max-width: 1077px) {
  .conatiner {
    width: 100%;
    gap: 0;
    text-align: center;
    padding: 2rem;
  }
  .infoabout {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100 !important;
  }

  .about-us .conatiner .image {
    width: 500px;
    position: absolute;
    left: -25%;
    filter: brightness(0.5);
  }

  .last-page .belt .Advantages {
    /* flex-basis: 50%; */
    height: 108px;
    position: absolute;
    z-index: 20000 !important;
    width: 65%;
    left: 0;
  }

  .last-page .belt .scroll-Logo {
    position: absolute;
    z-index: 5 !important;
    right: 0;
  }
}

@media screen and (max-width: 690px) {
  .last-page .belt .Advantages div p:first-child {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .last-page .belt .Advantages div p:last-child {
    font-size: 0.7rem;
  }

  .last-page .belt .Advantages {
    width: 85%;
  }
}
