section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: auto;
  border: 2px solid red;
  background-color: green;
  padding: 30px;
}

section .info {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 50%;
}

section p {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
section p span {
  background: linear-gradient(to right, var(--primary-color), gold);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
}

section button {
}
