@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fd7e14;
  --gradient-pale-cyan-blue: linear-gradient(
    135deg,
    #33a7b5,
    #b6e3d4 40%,
    #e7daa7
  );
  --mt: 80px;
  --mb: 80px;

  --trns: 0.3s ease-in-out;

  --gray-dark: #343a40;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
