.swiper {
  padding: 0.3rem 1rem !important;
  /* overflow: hidden; */
  /* z-index: 6 !important; */
}

.swiperSlide {
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
  height: 375px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiperSlide .play {
  color: #673ab7;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  transition: 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  opacity: 0;
}

.swiperSlide .play p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-top: 25px;
}

.swiperSlide .play i {
  font-size: 2.5rem;
  color: #fff;
}

img.image {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  transition: 0.4s ease-in-out;
  user-select: none;
}

.swiperSlide:hover img.image {
  transform: scale(1.1);
  filter: brightness(0.5);
}

.swiperSlide:hover .play {
  opacity: 1;
}

/*=======================================
3. MODAL == POP UP  && FLAG
=========================================
*/

.overlay.active {
  position: fixed;
  inset: 0;
  z-index: 5 !important;
  backdrop-filter: blur(4px);
  background-color: rgba(40, 40, 48, 0.91);
}

.popUpBox {
  position: fixed;
  background-color: rgb(0 4 8 / 50%);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  /* transition: var(--trns); */
}

.popUpBox.active {
  /* transform: translate(-50%, -50%); */
  visibility: visible;
  opacity: 1;
}

.popUpBox .conentInf {
  position: relative;
  background-color: #fff;
  max-height: 85vh;
  max-width: 800px;
  width: 100%;
  /* border-radius: 15px; */
  overflow: auto;
  position: relative;
  /* overflow: hidden scroll; */
  margin: 0 10px;
}

.popUpBox .conentInf .close-icon {
  position: absolute;
  right: 0;
  font-size: 3.5rem;
  color: #fff;
  cursor: pointer;
  z-index: 102 !important;
  margin: 20px;
}

.popUpBox .conentInf .image {
  width: 100%;
  height: 75%;
}

.popUpBox .conentInf .image img {
  width: 100%;
  height: 100%;
}

.popUpBox .conentInf .description {
  margin: 20px 20px 0;
}

.popUpBox .conentInf .description > h3 {
  color: green;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.popUpBox .conentInf .description p {
  color: #666;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 10px;
}

iframe {
  width: 100%;
}

.swiperSlide .name {
  position: absolute;
  margin: 0 0 1rem 1rem;
  color: #fff;
  bottom: 30px;
  left: 0px;
  text-align: end;
  font-size: 1.2rem;
  font-weight: bold;
}

.swiperSlide .category {
  position: absolute;
  margin: 1rem;
  color: #fff;
  bottom: 0;
  left: 0px;
  text-align: end;
  font-size: 1rem;
}

.swiperSlide .name-tv {
  position: absolute;
  margin: 0 0 1rem 1rem;
  color: #fff;
  bottom: 30px;
  left: 0px;
  text-align: start;
  font-size: 1.2rem;
  font-weight: bold;
}

.swiperSlide .category-tv {
  position: absolute;
  margin: 1rem;
  color: #fff;
  bottom: 0;
  left: 0px;
  text-align: start;
  font-size: 1rem;
}

/*=======================================
3. MEDIA QUERY
=========================================
*/

@media screen and (max-width: 992px) {
}
